.main{width: 75%;
		margin: 0 auto;
		background-color:white;}
.blue_line{background-color: green;
			padding: 21px 0; 
			clear:both;
			border-radius: 5px 5px 0 0;	}
header{display:inline-block;
		width:100%;
		height: auto;
		padding: 0;
		margin: 0;
		background-color:white; }
.logo{
	
	font-family:Times New Roman;
	float: left;
	width:415px;
	margin: 0;
	padding: 0;
	
	

}
.logo h1{
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	color:#023875;
	font-size:24px;
}
.logo p{
	margin: 0;
	padding: 0;
	font-size: 48px;
	line-height: 1.5em;
}
.logo p.midle{color:#303030;
				font-size:13px;}


.picture{
	display: inline-block;
	padding: 21px 21px 0px 21px;
}
body{
	background: url(fon.png) repeat;
	font-family:Arial;
	font-size:13px;
	}
.tel{
	float:right;
	font-size: 13px;
	font-family: Arial Regular ;
	color:#303030;
	padding: 21px 21px 0 21px;
}
.tel a{
	text-decoration: none;
	font-size: 24px;
	color:#023875;

}
.tel p{padding: 0 0 0 0;}



.content{
	width: 100%;
	margin:10px 0;
	padding: 10px 0;
}
.content img{
	display: inline-block;
	margin: 0 auto;
	clear: both;
	padding: 0;
}
.left_text{float:left;
width:56%;
padding:0px 21px 21px 21px;
}
.left_text h3{font-size:24px;
		color:#023875;
		padding:15px 0;}
.right_menu{float:right;
width:35%;
margin: 21px 0px auto 0px;
padding-right:21px;
}
.right_menu li{
	font-size:14px;
	color:#023875;
	line-height:1.7;
	padding: 0 0 0 5 px;
	list-style-type:none;
}
.right_menu a{
	text-decoration:none;
}
.blue_line h4{color:white;
margin:0 0 0 21px;
	
}

.photo img {
  width: 100%;
  height:auto;
  margin:0 auto;
}
@media (max-width: 760px) {
  .right_menu{float:left;
width:100%;}
.main{width:90%;}
.tel{float:left;}
.picture img{
    max-width: 50%;
  }
 .left_text{width:80%;}
}










